<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/"/>
	<meta charset="UTF-8">
		<title>Ben & Jerry</title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body>
		{{{ body }}}
		<script src="js/index.js"></script>
	</body>
</html>
