<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/"/>
	<meta charset="UTF-8">
		<title>stuff & things</title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body>
		{{{ body }}}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>
